<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Dressing Room</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"/>
    <link href="../static/css/virtual_closet.css" rel="stylesheet">
</head>
<body class="bg-gray-100"
    <!-- Fixed Navigation Bar -->
    <div class="container mx-auto px-6 py-8">
        <div class="flex justify-between items-center border-b-2 border-gray-300 pb-6">
            <div class="flex space-x-4">
                <!-- Left Section Links -->
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="{{ url_for('clothing') }}">CLOTHINGS</a>
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="{{ url_for('retailers') }}">RETAILERS</a>
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="{{ url_for('about') }}">ABOUT US</a>
            </div>
    
            <div class="logo-container">
                <a href="{{ url_for('index') }}" class="text-3xl font-semibold">Should-I</a>
            </div>
    
            <div class="flex space-x-4">
                <!-- Right Section Links -->
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="{{ url_for('virtual_closet') }}">VIRTUAL CLOSET</a>
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="{{ url_for('account') }}">ACCOUNT</a>
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="#"><i class="fas fa-search"></i></a>
                <a class="text-black hover:text-gray-700 text-sm font-semibold" href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>

    <div id="app" class="flex pt-16"> <!-- Adjust padding-top if necessary -->
        <div id="leftSide" class="w-1/2"> <!-- Left Side Content -->
            <!-- Left Side Content -->
        </div>
        <div id="rightSide" class="w-1/2"> <!-- Right Side Content -->
            <div class="filter-buttons-container flex p-4 space-x-2">
                <!-- Filter Buttons -->
                <button class="filter-btn" data-filter="sustainability">Sustainability</button>
                <button class="filter-btn" data-filter="male">Male</button>
                <button class="filter-btn" data-filter="female">Female</button>
                <button class="filter-btn" data-filter="reset">Reset Filters</button>
            </div>                
        </div>
    </div>
    
    <script src="../static/js/virtual_closet.js"></script>
</body>
</html>
